{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,scale=1">
    <meta name="description" content="Simplyfying website">
    <meta name="keywords" content="We deal, digital,design,ideas,technology">
    <title>Simplyfying</title>
    <link rel="stylesheet" href="./css/screen.css">
   </head>
<body>
  <div class="container">
  </div>
  <header>
      <div id="sc-rvg">

        <div class="my-one col-6"><h1>Simplyfying</h1></div>
        <div class="my-two col-6"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-256.png" width="50px"/></div>
      </div>
 </header>

  <div id="sc-abc">
       <div class="my-three col-12"><h1>We deal in,</h1></div>
  </div>

  <div id="sc-vxr">

        <div class="my-five col8"><h2>digital,design,<br>
        ideas,technology.</h2></div>
  </div>

 <footer class="foot">
    <div id="sc-xca">

        <div class="my-four col-5"><h1>Built in Los Angeles, California.<br>
        </br>Copyright 2017 Simplyfying</h1></div>
        
      </div>
  </footer>

</body>
</html>
